<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Lirik</string>
	<key>CFBundleDisplayName</key>
	<string>Lirik</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0 (Enhanced)</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSPrincipalClass</key>
	<string>lirik.LirikWidget</string>
	<key>PKWidgetPreferenceClass</key>
	<string>lirik.LirikPreferenceViewController</string>
	<key>PKWidgetAuthor</key>
	<string>Ridha Ahmad Firdaus (Enhanced by Miftah)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Lirik requires access to Spotify and Apple Music to display real-time lyrics on your Touch Bar.</string>
</dict>
</plist>
